{% extends 'base.html.twig' %}

{% block title %}Forumium{% endblock %}

{% block body %}
    <h1>Bienvenue!</h1>

    <h2>Topics récents</h2>
    <ul>
        {% for topic in topics %}
            <li><a href="{{ path('app_topic', {id: topic.id}) }}"><h3>{{ topic.titre }}</h3></a>
            <h5>par {{ topic.auteur.username }}</h5>
            <p>{{ topic.description }}</p></li>
        {% endfor %}    
    </ul>

    <div class="pagination">
        {{ knp_pagination_render(topics)}}
    </div>
{% endblock %}
