{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<h1>Tableau de bord de {{ app.user.username }}</h1>

<h2>Topics</h2>
<a href="{{ path('new_topic') }}" type="button">Nouveau topic</a>
<ul>
{% for topic in topics %}
    <li><a href="{{ path('app_topic', {id: topic.id}) }}"><h3>{{ topic.titre }}</h3></a>
    <form action="{{ path('edit_topic', {id: topic.id}) }}">
        <button>Editer</button>
    </form>
    <form method="post" action="{{ path('delete_topic', {id: topic.id}) }}" onsubmit="return confirm('Voulez-vous VRAIMENT supprimer ce topic? Plus personne ne pourra s'aider de votre topic...')">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ topic.id) }}">
        <button>Supprimer</button>
    </form>
{% endfor %}
    <div class="pagination">
        {{ knp_pagination_render(topics)}}
    </div>
</ul>
{% endblock %}
